extends layout

block content
  div.content.clr
    div.cms_cnt_l.l
      
    div.cms_cnt_r.l
      //- div.cms_publish
        
      div.embed-init
        iframe(src="about:blank" width='100%' height='4000' frameborder=0 scrolling='no' id="embed-iframe" name="embedIframe")
    
